
body{width: 100%;height: 100%;margin: 0; padding: 0}
div{height: 90px;background-color: #000;}

@media (min-width: 980px) {
	div{width: 900px; background-color: red;}
}
@media (min-width: 768px) and (max-width: 979px) {
	div{width: 800px; background-color: yellow;}
}
@media (max-width: 767px) {
	div{width: 600px; background-color: green;}
}